@model InventoryManagement.Models.Category

@{
    ViewBag.Title = "DeleteCategory";
}
@using (Html.BeginForm("DeleteCategory","Category",FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <h2>Are You Sure you want to delete @Model.Name Category</h2><br/>

    <input type="submit" class="btn btn-danger" Value="Delete"/><br/>

}
@Html.ActionLink("Back to list","CategoryList")


